div.modal-ticket{
  max-width: 900px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.modal-ticket div.titulo-ticket{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  background: #fff;
  width: auto;
}

div.modal-ticket div.conteudo
{
  border: 0;
  display: block;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

div.modal-ticket div.titulo-ticket button{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid #eee;
  background: transparent;
  border-radius: 4px;
}

div.modal-ticket div.titulo-ticket button svg{
  margin: 0;
}

div.modal-ticket div.titulo-ticket button:hover{
  background: #f5f5f5;
}

div.modal-ticket div.titulo-ticket h1{
  font-size: 20px;
  width: 100%;
  color: #333;
}

div.modal-ticket div.cabecalho-ticket div.criador{
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

div.avatar.right{
  margin-right: 0;
  margin-left: 0;
}
div.avatar.right img{
  margin-right: 0;
  margin-left: 0;
}

div.modal-ticket div.cabecalho-ticket div.criador div.user-info{
  padding: 5px 0;
}


div.modal-ticket div.cabecalho-ticket div.criador div.user-info p{
  font-weight: bold;
  color: #333;
}

div.modal-ticket div.cabecalho-ticket div.criador div.user-info span{
  font-size: 0.9em;
  color: #666;
}

div.modal-ticket div.cabecalho-ticket div.info-ticket{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

div.modal-ticket div.cabecalho-ticket div.info-ticket div.prazo-prioridade{
  display: flex;
}

div.modal-ticket div.cabecalho-ticket div.info-ticket div.prazo-prioridade span{
  display: flex;
  margin-right: 10px;
}

div.modal-ticket div.cabecalho-ticket div.info-ticket div.prazo-prioridade span strong{
  margin-right: 5px;
}

div.modal-ticket div.cabecalho-ticket div.info-ticket div.prazo-prioridade p:first-child{
  margin-right: 20px;
}

div.modal-ticket div.cabecalho-ticket div.categorizacao{
  display: flex;
  align-content: center;
  align-items: center;
  margin: 10px 0;
}

div.modal-ticket div.cabecalho-ticket div.categorizacao svg{
  margin-right: 10px;
}

div.modal-ticket div.cabecalho-ticket div.ticket-body{
  width: 100%;
  padding: 10px;
  background: #eee;
  border-radius: 8px;
  margin: 10px 0;
}

div.modal-ticket div.cabecalho-ticket button.encerrar-ticket{
  display: block;
  margin-left: auto;
  padding: 5px;
  width: 150px;
  border-radius: 4px;
  border: 1px solid #eee;

}

button.btn-green{
  background: #28a745;
  color:#fff;
  border: 1px solid #28a745;
}
button.btn-green:hover{
  background: #218838;
  border-color: #1e7e34;
}
button.loading{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite;
}

button svg{
  margin-right: 5px;
}

button.btn-red{
  background: #dc3545;
  color:#fff;
  border: 1px solid #dc3545;
}
button.btn-red:hover{
  background: #c82333;
  border-color: #bd2130;
}

button.btn-white{
  background: #fff;
  border: 1px solid #eee;
}
button.btn-white:hover{
  background: #f5f5f5;
  border-color: #ddd;
}
div.uploads label{
  color:#aaa;
  display: flex;
  margin: auto 10px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100%;
  cursor: pointer;
  padding-right: 10px;
}

div.modal-ticket div.cabecalho-ticket div.ordenacao{
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  background: #eee;
  padding: 10px;
  margin: 10px 0;
}


div.modal-ticket div.cabecalho-ticket div.ordenacao button{
  margin-right: 10px;
  width: 30px;
  height: 25px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

div.modal-ticket div.cabecalho-ticket div.ordenacao button svg{
  margin: 0;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update{
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


div.modal-ticket div.cabecalho-ticket div.updates div.update:not(:first-child){
  margin-top: 10px;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update div.user-info{
  text-align: left;
  display: block;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
  margin-right: auto;
  margin-left: 0;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update div.user-info p{
  font-weight: bold;
  word-wrap: none;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update div.user-info span{
  font-size: 0.9em;
  color: #666;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update div.user-info.right{
  text-align: right;
  display: block;
  margin-right: 10px;
  margin-left: auto;

}


div.modal-ticket div.cabecalho-ticket div.updates div.update div.criador-update{
  display: flex;
  align-items: flex-start;
  align-content: center;
  background: #e5e5e5;
  min-width: fit-content;
  width: fit-content;
  padding: 10px;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update div.conteudo-update{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update div.texto-update{
  width: 100%;
  padding: 10px;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update div.anexos-update{
  width: 100%;
  height: auto;
  padding:5px;
  background: #e5e5e5;
  display: flex;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update div.anexos-update a{
  padding:5px 5px;
  color: #666;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

}

div.modal-ticket div.cabecalho-ticket div.updates div.update div.anexos-update a svg{
  width: 15px;
  height: auto;
  margin-right: 5px;
}

div.modal-ticket div.cabecalho-ticket div.updates div.criador-update{
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.modal-ticket div.cabecalho-ticket div.updates div.criador-update div.hora{
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

div.modal-ticket div.cabecalho-ticket div.updates div.criador-update div.hora span{
  font-size: 0.9em;
  color: #444;
}

div.modal-ticket div.cabecalho-ticket div.updates div.criador-update div.info-criador{
  display: flex;
  width: 100%;
}

div.modal-ticket div.cabecalho-ticket div.updates div.criar-update button{
  display: flex;
  width: 100%;
  padding: auto;
  justify-content: center;
  height: 40px;
  align-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  background: #eee;
  border-radius: 4px;
  font-size: 16px;
}

div.modal-ticket div.cabecalho-ticket div.updates div.criar-update button:hover{
  background: #ddd;
}

div.modal-ticket div.cabecalho-ticket div.updates div.editorContainer{
  margin-top: 10px;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update-footer{
  background: #ddd;
  border-radius: 0 0 4px 4px;

}

div.modal-ticket div.cabecalho-ticket div.updates div.update-footer div.botoes{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update-footer div.botoes button{
  padding: 5px;
  width: 120px;
  border-radius: 4px;
}

div.modal-ticket div.cabecalho-ticket div.updates div.update-footer span{
  padding: 10px;
  display: block;
}

span.prazo {
  padding: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  align-content: center;
}
span.prazo.normal {
  color: #333;
  background: #eee;
}

span.prazo.vencendo {
  color: #333;
  background: #feca57;
}
span.prazo.vencido {
  color: #fff;
  background: #f00;
}

span.prioridade {
  padding: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  align-content: center;
}

span.prioridade.baixa {
  color: #333;
  background: #eee;
}
span.prioridade.normal {
  color: #333;
  background: #87bcfd;
}
span.prioridade.alta {
  color: #333;
  background: #f97953;
}
span.prioridade.urgente {
  color: #fff;
  background: #f00;
}

th button.titulo-coluna{
  cursor: pointer;
  font-size: 12px;
  color: #999;
  background: transparent;
  border: 0;
  width: 100%;
  display: flex;
}

th button.titulo-coluna.center{
  justify-content: center;
}

th button.titulo-coluna.ativa{
  font-weight: bold;
  color: #222;
  align-content: center;
  align-items: center;
}

div.modal div.titulo-modal{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  background: #fff;
  width: auto;
}

div.modal div.titulo-modal h1{
  font-size: 20px;
  width: 100%;
  color: #333;
}

div.modal div.corpo-modal, form{
  padding: 10px;
}
div.modal div.corpo-modal p{
  line-height: 1.5;
}
div.modal div.corpo-modal p{
  line-height: 1.5;
}

div.modal form div.modal-footer{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

div.avaliacao {
  padding: 10px 0;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
div.avaliacao div label {
  font-size: 25px;
}

div.anexos{
  display: flex;
}
div.anexos a +a{
  margin-left: 10px;
}
div.anexos a{
  display: flex;
  background: #eee;
  border-radius: 4px;
  padding:5px 6px;
  max-height:50px;
  height: 100%;
  max-width: 250px;
  overflow: hidden;
  color: #666;
}

div.anexos a div.icone {
  width: 40px;
}

div.anexos a div.icone svg{
  width: auto;
  height: 100%;
margin-right: 5px;
}

div.anexos a div.info p{
 font-size: 13px;
}

div.anexos a div.info span{
  font-size: 12px;
  color: #999;

}
